<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-system"
		version="1.0.0">

	<name>Cordova System Plugin</name>
	<description>System Plugin</description>
	<author>Eugene Trusevich</author>
	<license>MIT</license>
	<keywords>codova,system</keywords>
	<repo>https://github.com/expcapitaldev/cordova-plugin-system.git</repo>
	<issue>https://github.com/expcapitaldev/cordova-plugin-system/issues</issue>

	<engines>
		<engine name="cordova-android" version=">=10.1.1" />  <!-- actual values for main app -->
		<engine name="cordova-ios" version=">=6.2.0" />
	</engines>

	<js-module src="www/System.js" name="SystemPlugin">
		<clobbers target="cordova.plugins.System" />
	</js-module>

	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SystemPlugin">
				<param name="android-package" value="com.expcapital.system.SystemPlugin"/>
				<param name="onload" value="false" />
			</feature>
		</config-file>

		<source-file src="src/android/com/expcapital/system/SystemPlugin.java" target-dir="src/com/expcapital/system"/>

	</platform>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="SystemPlugin">
				<param name="ios-package" value="SystemPlugin" />
				<param name="onload" value="false" />
			</feature>
		</config-file>

		<header-file src="src/ios/CDVSystemPlugin.h" />
		<source-file src="src/ios/CDVSystemPlugin.m" />

	</platform>

</plugin>
