<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-system"
		version="1.5.1">

	<name>Cordova System Plugin</name>
	<description>System Plugin</description>
	<author>Eugene Trusevich</author>
	<license>MIT</license>
	<keywords>codova,system</keywords>
	<repo>https://github.com/expcapitaldev/cordova-plugin-system.git</repo>
	<issue>https://github.com/expcapitaldev/cordova-plugin-system/issues</issue>

	<engines>
		<engine name="cordova-android" version=">=10.1.1"/>  <!-- actual values for main app -->
		<engine name="cordova-ios" version=">=6.2.0"/>
	</engines>

	<js-module src="www/System.js" name="SystemPlugin">
		<clobbers target="cordova.plugins.System"/>
	</js-module>

	<js-module name="utils" src="www/utils.js" />

	<platform name="android">

		<!-- cc or cx only-->
		<preference name="RESTRICTION_PAGE_THEME" default="cc"/>
		<preference name="RESTRICTION_TITLE_KEY" />
		<preference name="RESTRICTION_DESCRIPTION_KEY" />
		<preference name="RESTRICTION_BUTTON_KEY" />

		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SystemPlugin">
				<param name="android-package" value="com.expcapital.system.SystemPlugin"/>
				<param name="onload" value="false"/>
			</feature>
		</config-file>

		<source-file src="src/android/SystemPlugin.java" target-dir="src/com/expcapital/system"/>

		<config-file target="AndroidManifest.xml" parent="/*">
			<queries>
				<intent>
					<action android:name="android.intent.action.VIEW"/>
					<data android:scheme="mailto"/>
				</intent>
			</queries>
		</config-file>

		<source-file src="res/android/values/system-plugin-constants.xml" target-dir="res/values" />
		<config-file target="res/values/system-plugin-constants.xml" parent="/*">
			<string name="restriction_title_key">$RESTRICTION_TITLE_KEY</string>
			<string name="restriction_description_key">$RESTRICTION_DESCRIPTION_KEY</string>
			<string name="restriction_button_key">$RESTRICTION_BUTTON_KEY</string>
		</config-file>

	</platform>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="SystemPlugin">
				<param name="ios-package" value="SystemPlugin"/>
				<param name="onload" value="false"/>
			</feature>
		</config-file>

		<header-file src="src/ios/CDVSystem-Bridging-Header.h" />
		<source-file src="src/ios/CDVReachabilityIPHelper.swift" />
		<header-file src="src/ios/CDVSystemPlugin.h"/>
		<source-file src="src/ios/CDVSystemPlugin.m"/>
		<header-file src="src/ios/CDVReachabilityManager.h"/>
		<source-file src="src/ios/CDVReachabilityManager.m"/>

		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
			<array>
				<string>readdlespark</string>
				<string>googlegmail</string>
				<string>com.apple.mobilemail</string>
				<string>ms-outlook</string>
				<string>spike</string>
				<string>airmail</string>
				<string>edisonmail</string>
				<string>twobird</string>
				<string>hey</string>
				<string>protonmail</string>
				<string>polymail</string>
				<string>bluemail</string>
				<string>cloudmagic</string>
				<string>yandexmail</string>
				<string>mailrumail</string>
				<string>mycom-mail-x-callback</string>
				<string>canary</string>
				<string>ymail</string>
			</array>
		</config-file>


		<framework src="SystemConfiguration.framework" weak="true" />
		<podspec>
			<config>
				<source url="https://github.com/expcapitaldev/Reachability.git"/>
			</config>
			<pods use-frameworks="true">
				<pod name="CPReachability" git="https://github.com/expcapitaldev/Reachability.git" commit="1aafec87cd709019913e563b199fdd21ce44f770" />
			</pods>
		</podspec>

		<dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

	</platform>

	<hook type="after_prepare" src="scripts/after_prepare.js" />

</plugin>
